$DEVISE-W: 1440px;
$DEVISE-H: 750px;
$DEVISE-W-M: 375px;
$MOBILE:320px;
$TABLET:768px;
$DESKTOP-L:1024px;
$DESKTOP:1440px;



$BASE-FONT:"Montserrat",Helvetica,sans-serif;
$FOOTER-FONT:"Roboto",Helvetica,sans-serif;