@mixin desk-value($name,$value) {
	// #{$name}:$value;
	@include DESKTOP {
		#{$name}:vh($value);
	}
	@include DESKTOP-L {
		#{$name}:vw($value);
	}
}

@mixin mobile-value($name,$value) {
	// #{$name}:$value;
	@include MOBILE {
		#{$name}:vw-m($value);
	}
	@include TABLET {
		#{$name}:vw-t($value);
	}
}

@mixin value($name,$value, $value-m: $value) {
	// #{$name}:$value;
	@include DESKTOP {
		#{$name}:vh($value);
	}
	@include DESKTOP-L {
		#{$name}:vw($value);
	}
	@include MOBILE {
		#{$name}:vw-m($value-m);
	}
	@include TABLET {
		#{$name}:vw-t($value-m);
	}
}

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}